<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

<main>

  <% if (locals.message) { %>
    <div
      class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
      role="alert"
    >
      <%= message %>
    </div>
    <% } %>

    <body>
      <section>
        
        <div class="form-box3" id="profile">

          
          <div class="form-value">
            <h2><span>Welcome, </span><span id="swift"><%= first_name %></span></h2>
            <h2><span>Your Student ID is: </span><span id="swift"><%= StudentID%></span></h2>

            <form action ="/updatepassword" method = "POST">

              <div class="inputbox" id="oldnew">
                <input type = "text" name ="oldpassword"/>
                <label for="oldpassword">Old Password</label>
              </div>
              
              <div class="inputbox" id="oldnew">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="text" name="newpassword"/>
                <label for="newpassword">New Password</label>
              </div>
              

                  <button type ="submit">Update my password</button>
            </form>
            <br>

            <div class="reservations">
              <form action="/reservation" method="GET">
                <div class="col-auto">
                  <button type="submit">View Reservations</button>
                </div>
              </form>
            </div>

            <div class="delete">
              <form action = "/delete_user" method="POST">
                <div class="col-auto">
                  <button type="submit">Delete my account</button>
                </div>
              </form>
            </div>
           

          </div>
        </div>
        
          
      </section>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</main>